
<!DOCTYPE html>
{% extends 'my_sub_app/base.html' %}

{% block head_block %}<title>Hindi</title>{% endblock %}

{%block body_block%}
<div class="container">
  <div class="jumbotron">
    <h1>These are the list of Hindi movies.</h1>
      <ol>
        <li><a href="https://www.imdb.com/title/tt7098658/?ref_=nv_sr_1">Raazi</a></li>
        <li><a href="https://www.imdb.com/title/tt6826438/?ref_=nv_sr_1">Parmanu</a></li>
        <li><a href="https://www.imdb.com/title/tt5165344/?ref_=nv_sr_1">Rustom</a></li>
        <li><a href="https://www.imdb.com/title/tt5935704/?ref_=nv_sr_1">Padmavat</a></li>
      </ol>

  </div>

</div>
{%endblock%}
