<!DOCTYPE html>
{% extends 'my_sub_app/base.html' %}

{% block head_block %}<title>Comedy</title>{% endblock %}

{%block body_block%}
<div class="container">
  <div class="jumbotron">
    <h1>These are the list of Comedy movies.</h1>
      <ol>
        <li><a href="https://www.imdb.com/title/tt5164214/">Ocean's 8</a></li>
        <li><a href="https://www.imdb.com/title/tt3606756/">Incredibles 2</a></li>
        <li><a href="https://www.imdb.com/title/tt2704998/">Game Night</a></li>
        <li><a href="https://www.imdb.com/title/tt0386676/">The Office</a></li>
      </ol>

  </div>

</div>
{%endblock%}
