
<!DOCTYPE html>
{% extends 'my_sub_app/base.html' %}

{% block head_block %}<title>English</title>{% endblock %}

{%block body_block%}
<div class="container">
  <div class="jumbotron">
    <h1>These are the list of English movies.</h1>
      <ol>
        <li><a href="https://www.imdb.com/title/tt3659388/?ref_=nv_sr_1">The Martian</a></li>
        <li><a href="https://www.imdb.com/title/tt0816692/?ref_=nv_sr_1">Interstellar</a></li>
        <li><a href="https://www.imdb.com/title/tt0111161/?ref_=nv_sr_1">The Shawshank Redemption</a></li>
        <li><a href="https://www.imdb.com/title/tt1431045/?ref_=nv_sr_2">Deadpool</a></li>
      </ol>

  </div>

</div>
{%endblock%}
